<!DOCTYPE html>
<html>
  <head>
    <title>Add Question</title>
  </head>
  <body>
    <h1>Add Question</h1>
    <form action="{% url 'questions_add' %}" method="POST" id="add_question_form">
       {% csrf_token %}
       <p>{{ form.non_field_errors }}</p>
       <div class="control-group">
          <label for="id_question_text">Question Text</label>
          <p>{{ form.question_text.errors }}</p>
          <div class="controls">
               {{ form.question_text }}
          </div>
       </div>       
       <div class="control-group">
          <label for="id_answer_keywords">Answer Keywords</label>
          <p>{{ form.answer_keywords.errors }}</p>
          <div class="controls">
               {{ form.answer_keywords }}
          </div>
       </div>
       <div class="form-actions">
           <button type="submit">Add</button>
       </div>
    </form>
  </body>
</html>
